{% extends "base.html" %}
{% load static %}

{% block title %}Профиль{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'auth.css' %}" />
{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <h2></h2>

        <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <div class="input-field-wrapper">
            <label>Название образовательного учреждения</label> <br>
            {{ form.short_name }}</input>
        </div>
        <div class="input-field-wrapper">
            <label>Полное название</label> <br>
            {{ form.full_name }}
        </div>
        <div class="input-field-wrapper">
            <label>ИНН</label> <br>
            {{ form.INN }}
        </div>
        <div>
            <input class="btn" type="submit" value="Войти">
            <input type="hidden" name="next" value="{{ next }}">
            <a class="tologin" href="/accounts/login">Уже имеете аккаунт?</a>
        </div>
        </form>
    </div>
{% endblock %}
