* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Golos Text';
}

header {
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header font {
    padding: 10px;
}

.header-right {
}


main {
    display: grid;
    place-items: center;
    padding: 20px;
    position: relative;
}

.contracts-wrapper {
    width: 90vw;  
    display: grid;
    margin-bottom: 60px;
    margin-top: 60px;
    position: absolute;
    top: 0px;
}


.contract {
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3); 
    background-color: #FFF;
    position: relative;
}

.contract-edit-window {
    width: 80%;
    height: 80%;
    overflow: auto;
    position: absolute;
    top: 200px;
}

.contract:hover {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); 
}

.contract p {
    font-size: 14px;
    word-break: break-all;
    white-space: normal;
}

.contract-status {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-bottom: 5px;
}

#circle-status {
    width: 10px;
    height: 10px;
    border-radius: 1000px;;
    border-color: #000;
    border: 1px solid;
    background-color: #56F000;
    margin-right: 5px;
}


.contract-comments {
    margin: 5px 0px; 
}

.contract-buttons {
    display: block;
    position: relative;
    bottom: 0px;
}

.contract-buttons a {
    text-decoration: none;
    color: black;
}

.button {
    width: 100%;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 5px;
    color: #333;
    font-size: 15px;

    border: 0;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    pointer-events: auto;
    z-index: 2;
}


.header-button {
    cursor: pointer;
}

.header-button:hover {
    color: #4835d4;
}


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    opacity: 0;
    transition: .3s ease opacity;
}

.window {
    background-color: white;
    position: fixed;
    width:600px;
    height:500px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -250px;

    z-index:2;
    opacity: 0;
    transform: scale(0);
    transition: .3s ease opacity,.3s ease transform;

    border-radius: 10px;
    padding: 20px;
}

.about-contract.add-contract {
    display: none;
}

/* Form Fields */

.new-contract-fields {
    margin-top: 20px;
}

.input-field-wrapper select {
    width: 200px;
    padding: 5px 10px;
    font-size: 16px;
}

.input-field-wrapper {
    position: relative;
    margin: 5px 0;
    margin-bottom: 10px;
}

/* File Input */

#about-contract-file-input {
    margin-top: 5px;
    margin-bottom: 0px;
    display: none;
}

.file-input-wrapper {
    margin-bottom: 20px;
}

.input-file-text {
	padding: 0 10px;
	line-height: 35px;
	text-align: left;
	height: 35px;
	display: block;
	float: left;
	box-sizing: border-box;
	width: 200px;
	border: 1px solid;
    opacity: 0.5;
}

.input-file {
	position: relative;
	display: inline-block;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* OTHER */

.buttons-wrapper {
    width: 200px;
}

#update-contract {
    display: none;
}
