<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Edu Contract System</title>
        <meta name="description" content=""/>
        <meta name="keywords" content=""> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet", href="../static/output.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'index.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Golos Text' rel='stylesheet'>
        <script defer type="text/javascript" src="../static/index.js"></script>
        <script defer type="text/javascript" src="../static/render.js"></script>
        <script defer type="text/javascript" src="../static/events.js"></script>
    </head>
    <body>
        <header>
            <div class="header-left">
                <font class="logo header-button">Лого</font>
                <font class="to-contracts-buttonn header-button">Договора</font>
                <font class="to-templates-buttonn header-button">Шаблоны</font>
                {% if admin %}
                <font class="header-button">Контрагенты</font>
                <font class="header-button" onclick="showNewContractWindow()">Новый договор</font>
                {% endif %}
            </div>
            <div class="header-right">
                <font class="auth-button header-button">{{username}}</font>
            </div>
        </header>
        
        <main>
            <div class="contracts-wrapper">
                <!-- 
                    Тут строка поиска + кнопка фильтров
                --> 

                <div class="contracts">
                    <div class="flex flex-col">
                        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                            <div class="overflow-hidden">
                              <table class="min-w-full text-left text-sm font-light">
                                <thead class="border-b font-medium dark:border-neutral-500">
                                  <tr>
                                    <th scope="col" class="px-6 py-4">#</th>
                                    <th scope="col" class="px-6 py-4">Имя</th>
                                    <th scope="col" class="px-6 py-4">Контрагент</th>
                                    <th scope="col" class="px-6 py-4">Шаблон</th>
                                    <th scope="col" class="px-6 py-4">Статус</th>
                                    <th scope="col" class="px-6 py-4">Год</th>
                                  </tr>
                                </thead>
                                <tbody class="contracts-in-table">
                                  <!-- here is the magic beggins -->
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

            </div>
    
            <div class="overlay"></div>

            <div class="about-contract window">
                <h2 id="about-contract-header"></h2>
                <p id="contract-counterpartie"></p>
                <p id="contract-year"></p>

                <div class="buttons-wrapper">
                    <a id="save-contract" class="button">
                        Скачать
                    </a>
                    <button id="edit-contract" class="button">
                        Внести правки
                    </button>
                    <div class="file-input-wrapper" id="about-contract-file-input">
                        <label class="input-file">
                            <span class="input-file-text" type="text">Выберите документ</span>
                            <input type="file" name="file" id="about-contract-input">
                        </label>
                    </div>
                    <button id="update-contract" class="button">
                        Изменить
                    </button>
                    <button id="approve" class="button">
                        Согласовать
                    </button>
                </div>
                
                <div class="contract-edit-window"></div>
            </div>

            <div class="add-contract window">
                <h2>Создать новый договор</h2>
    
                <div class="new-contract-fields">
                    <div class="new-contract-first-fields"></div>

                    <div class="file-input-wrapper">
                        <label class="input-file">
                            <span class="input-file-text" type="text">Выберите документ</span>
                            <input type="file" name="file" id="new-contract-input">
                        </label>
                    </div>

                    <div class="buttons-wrapper">
                        <button id="create-contract" type="submit" class="button" onclick="createNewContract()">
                            Создать договор
                        </button>
                    </div>
                </div>
            </div>

        </main>

        <footer>
            <div class="footer-content">
            </div>
        </footer>
    </body>
</html>


